@font-face {
  font-family: "Hammersmith One";
  src: url(./assets/HammersmithOne-Regular.ttf);
}
html,
body,
main {
  height: 100%;
}
body {
  font-family: "Hammersmith One";
  margin: 0;
}
main {
  display: flex;
}

.data-status{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: blueviolet;
    visibility: hidden;
}
.data-status.visible {
    visibility: visible;
}

.header, .footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f1faee;
}
.side-bar {
  width: 260px;
  background-color: rgba(168, 218, 220, 0.28);
}
.print {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}
.print img {
    width: 150px;
    height: 150px;
}


.alchemy-text {
  font-family: "Hammersmith One";
  font-size: 128px;
  line-height: 128px;
  color: rgba(29, 53, 87, 0.1);
}
